
/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import "./variables";
@import "components/lists";
@import "components/buttons";
@import "components/actions";
@import "components/hamburger";
@import "components/grid";
@import "components/animations";
@import "components/responsiveness";

/* Main - Theme styles
/* ---------------------------------------------------------- */
body {
  font-family: "Muli", sans-serif;
  background: $color-bg;
  transition: background 0.3s ease-out;
  transition-delay: 0.25;
}

.hidden {
  visibility: hidden;
  position: absolute;
  text-indent: -9999px;
}

