/* Variables
/* ---------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,600,700,700i,800&display=swap");

/* Colours */
$color-primary--100: #e5a7a9;
$color-primary--200: #e0898d;
$color-primary--300: #da6a71;
$color-primary--400: #d24958;
$color-primary--500: #c92040;
$color-primary--600: #a92137;
$color-primary--700: #882531;
$color-primary--800: #6b232a;
$color-primary--900: #411b1d;
$color-primary: #c8143c;

$color-secondary--100: #a3b8dd;
$color-secondary--200: #779adb;
$color-secondary--300: #5181e2;
$color-secondary--400: #2266f5;
$color-secondary--500: #2057cc;
$color-secondary--600: #244b9d;
$color-secondary--700: #243f78;
$color-secondary--800: #1f3257;
$color-secondary--900: #172136;
$color-secondary: #1560fb;

$color-neutral--100: #fefefe;
$color-neutral--200: #d9d9d9;
$color-neutral--300: #b9b9b9;
$color-neutral--400: #999999;
$color-neutral--500: #7b7b7b;
$color-neutral--600: #626262;
$color-neutral--700: #4c4c4c;
$color-neutral--800: #383737;
$color-neutral--900: #222121;
$color-neutral: #404040;

$color-base: $color-neutral--900;
$color-border: $color-neutral--800;
$color-bg: $color-neutral--100;

/* Fonts */
$font-sans-serif: "Muli", sans-serif;
$font-serif: Georgia, Times, serif;
$font-mono: Menlo, Courier, monospace;
$font-light: 100;
$font-normal: 400;
$font-bold: 700;
$font-heavy: 800;

/* Font Sizes */

/* Display Text */
$fontsize-display-1: 80pt;
$lineheight-display-1: 100pt;
$fontsize-display-2: 72pt;
$lineheight-display-2: 76pt;
$fontsize-display-3: 64pt;
$lineheight-display-3: 68pt;
$fontsize-display-4: 48pt;
$lineheight-display-4: 60pt;

/* Heading Text */
$fontsize-heading-1: 56pt;
$lineheight-heading-1: 60pt;
$fontsize-heading-2: 36pt;
$lineheight-heading-2: 40pt;
$fontsize-heading-3: 24pt;
$lineheight-heading-3: 28pt;
$fontsize-heading-4: 20pt;
$lineheight-heading-4: 24pt;

/* Body Text */
$fontsize-body--large: 21pt;
$lineheight-body--large: 28pt;
$fontsize-body--medium: 18pt;
$lineheight-body--medium: 26pt;
$fontsize-body--small: 16pt;
$lineheight-body--small: 24pt;

/* Button Text */
$fontsize-button-text: 24pt;
$lineheight-button-text: 28pt;

/* Footnote Text */
$fontsize-footnote-text: 14pt;
$lineheight-footnote-text: 28pt;

/* Caption Text */
$fontsize-caption-text: 14pt;
$lineheight-caption-text: 24pt;

/* Breakpoints */
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 740px;
$xsmall: 480px;

/* Sizes */
$height: 4rem;
$margin: 2rem;
$radius: 0.5rem;
