/* Variables
/* ---------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,600,700,700i,800&display=swap');

    /* Colours */
    $color-primary--100: #E5A7A9;
    $color-primary--200: #E0898D;
    $color-primary--300: #DA6A71;
    $color-primary--400: #D24958;
    $color-primary--500: #C92040;
    $color-primary--600: #A92137;
    $color-primary--700: #882531;
    $color-primary--800: #6B232A;
    $color-primary--900: #411B1D;
    $color-primary: #C8143C;
    
    $color-base: #131313;
    $color-border: #ddd;
    $color-bg: #f8f8f8;

    /* Fonts */
    $font-sans-serif: 'Muli', sans-serif;
    $font-serif: Georgia, Times, serif;
    $font-mono: Menlo, Courier, monospace;
    $font-light: 100;
    $font-normal: 400;
    $font-bold: 700;
    $font-heavy: 800;

    /* Breakpoints */
    $xlarge: 1680px;
    $large: 1280px;
    $medium: 980px;
    $small: 740px;
    $xsmall: 480px;

    /* Sizes */
    $height: 4rem;
    $margin: 2rem;
    $radius: 0.5rem;
