@import "../variables";
@import "../components/lists";
@import "../components/buttons";
@import "../components/actions";
@import "../components/hamburger";
@import "../components/grid";
@import "../components/animations";
@import "../components/responsiveness";

#about-body {
  max-width: 100%;
  margin-top: 10rem;
  padding: 8vw;
}

#about-introduction {
  display: flex;
}

#bio-container {
  display: flex;
  flex-wrap: wrap;
  padding: 64px;
  border: 2px solid black;
  border-radius: 8px;
}

#bio-text {
  display: block;
  h1 {
    text-align: left;
  }
}

#profile-container {
  box-shadow: 5px 10px 18px #888888;
  border: 2px solid black;
  border-radius: 16px;
  img {
    border-radius: 14px;
  }
  margin: 0 4rem 0 0;
  height: 480px;
}

#social-links {
  display: flex;
  align-items: center;
}

#titles {
  display: flex;
  flex-flow: column;
}

#title {
  margin-bottom: 5vh;
  text-align: left;
  font-size: $fontsize-display-3;
}

#sub-title {
  font-size: $fontsize-heading-2;
}

#name {
  text-align: left;
  font-weight: bold;
  font-size: 64px;
}

#bio {
  display: flex;
}

#bio-text {
  h1 {
    margin: 0;
  }

  h2 {
    margin-top: 8rem;
  }
}

#resume {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  p {
    margin: 0;
    padding: 0;
    font-size: $fontsize-caption-text;
  }
}

#technologies {
  display: flex;
  justify-content: space-around;
}

.profile-pic {
  width: 320px;
  height: 480px;
}

.icon-link {
  padding: 0 1rem 0 1rem;
}

.disclaimer {
  font-size: $fontsize-footnote-text;
}

a {
  color: black;
}
