@import "../variables";
@import "../components/responsiveness";

/* Works Feed
 ---------------------------------------------------------- */
.works-feed {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.post-card {
  position: relative;
  display: flex;
  flex: 1 1 50%;
  height: 50vh;
  width: 100%;
  counter-increment: posts;

  a:hover {
    text-decoration: none;
  }

  @include for-smartphone-only {
    flex: 1 1 100%;
    height: 30vh;
  }

  @include for-phone-only {
    flex: 1 1 100%;
    height: 40vh;
  }

  @include for-tablet-portrait-up {
    flex: 1 1 100%;
    height: 75vh;
  }

  @include for-tablet-landscape-up {
    flex: 1 1 50%;
    height: 50vh;
  }

  @include for-desktop-up {
    flex: 1 1 50%;
    height: 60vh;
  }

  @include for-big-desktop-up {
    flex: 1 1 50%;
    height: 80vh;
  }
}

.post-card-link {
  flex: 1 1 auto;
  display: block;
}

.post-card-content {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s cubic-bezier(0.33, 0, 0.2, 1);

  @include for-phone-only {
    flex: 1 1 100%;
  }

  @include for-tablet-portrait-up {
    flex: 1 1 100%;
  }

  @include for-tablet-landscape-up {
    flex: 1 1 50%;
  }

  @include for-desktop-up {
    flex: 1 1 50%;
  }

  @include for-big-desktop-up {
    flex: 1 1 50%;
  }
}

.post-card-image {
  flex-grow: 5;
}

.post-card-text {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  flex-shrink: 1;
}

.post-card-link:hover .post-card-content {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.post-card-title {
  margin: 0;
  font-family: "Muli", sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.33, 0, 0.2, 1);

  @include for-phone-only {
    font-size: 16px;
  }

  @include for-tablet-portrait-up {
    font-size: 32px;
  }

  @include for-tablet-landscape-up {
    font-size: 16pt;
  }

  @include for-desktop-up {
    font-size: 16pt;
  }

  @include for-big-desktop-up {
    font-size: 16pt;
  }
}

.post-card-type {
  margin: 0;
  font-size: 24px;

  @include for-phone-only {
    font-size: 10px;
  }

  @include for-tablet-portrait-up {
    font-size: 16px;
  }

  @include for-tablet-landscape-up {
    font-size: 16px;
  }

  @include for-desktop-up {
    font-size: 20px;
  }

  @include for-big-desktop-up {
    font-size: 24px;
  }
}

/* Posts without images */
.post-card.no-image:before {
  display: block;
  content: counter(posts);
  position: absolute;
  bottom: -0.15em;
  right: 5vw;
  font-size: 28vw;
  line-height: 1em;
  font-weight: $font-heavy;
  letter-spacing: -0.1em;
  color: rgba(0, 0, 0, 0.2);
}

.post-card.no-image .post-card-content {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4vw;
}

.post-card.no-image .post-card-title {
  font-size: 5rem;
  line-height: 1.15em;
  text-align: left;
}

.post-card.no-image:hover .post-card-title {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .post-card.no-image .post-card-title {
    font-size: 3.4rem;
  }
}
@media (max-width: 700px) {
  .post-card.no-image:before {
    font-size: 50vw;
  }
}
