/* Buttons
/* ---------------------------------------------------------- */

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    height: $height;
    padding: 0 2rem;
    border: 0;
    border-radius: $radius;
    cursor: pointer;
    font-family: $font-sans-serif;
    font-size: 1.4rem;
    font-weight: $font-normal;
    line-height: $height;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    appearance: none;
    transition: 0.4s ease;
  }
}

button,
.button {
  display: inline-block;
  height: $height;
  padding: 0 2rem;
  border: 0;
  border-radius: $radius;
  cursor: pointer;
  font-family: $font-sans-serif;
  font-size: 1.4rem;
  font-weight: $font-normal;
  line-height: $height;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  appearance: none;
  transition: 0.4s ease;
}

input {
  &[type="submit"].fit,
  &[type="reset"].fit,
  &[type="button"].fit {
    width: 100%;
  }
}

button.fit,
.button.fit {
  width: 100%;
}

input {
  &[type="submit"].small,
  &[type="reset"].small,
  &[type="button"].small {
    height: calc(#{$height} * 0.9);
    line-height: calc(#{$height} * 0.9);
    padding: 0 1.5rem;
    font-size: 1.2rem;
  }
}

button.small,
.button.small {
  height: calc(#{$height} * 0.9);
  line-height: calc(#{$height} * 0.9);
  padding: 0 1.5rem;
  font-size: 1.2rem;
}

input {
  &[type="submit"].large,
  &[type="reset"].large,
  &[type="button"].large {
    height: calc(#{$height} * 1.14);
    line-height: calc(#{$height} * 1.14);
    padding: 0 3rem;
    font-size: 1.6rem;
  }
}

button.large,
.button.large {
  height: calc(#{$height} * 1.14);
  line-height: calc(#{$height} * 1.14);
  padding: 0 3rem;
  font-size: 1.6rem;
}

input {
  &[type="submit"] {
    &.disabled,
    &:disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  &[type="reset"] {
    &.disabled,
    &:disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  &[type="button"] {
    &.disabled,
    &:disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

button {
  &.disabled,
  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

.button {
  &.disabled,
  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    color: $color-primary !important;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color-primary;
  }
}

button,
.button {
  color: $color-primary;
  background-color: transparent;
}

input {
  &[type="submit"]:hover,
  &[type="reset"]:hover,
  &[type="button"]:hover {
    text-decoration: none;
    color: $color-primary !important;
    box-shadow: inset 0 0 0 2px $color-primary;
    transition: 0.2s ease;
  }
}

input {
  &[type="submit"].primary,
  &[type="reset"].primary,
  &[type="button"].primary {
    color: #fff !important;
    background-color: $color-primary;
    box-shadow: none;
  }
}

button.primary,
.button.primary {
  color: #fff !important;
  background-color: $color-primary;
  box-shadow: none;
}
