.featured-work-tech {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.featured-work {
  display: flex;
  position: relative;
  overflow: hidden;
  counter-increment: posts;
}

.featured-work a:hover {
  text-decoration: none;
}

.featured-work-link {
  flex: 1 1 auto;
  text-decoration: none;
}

.featured-work-link:hover {
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.featured-work-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);

  @include for-tablet-portrait-only {
    flex-direction: column;
  }
}

.featured-work-subtitle {
  @include for-phone-only {
    display: none;
  }
  @include for-tablet-portrait-only {
    display: none;
  }
}

.featured-work-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2, p {
    z-index: 999;
  }

  @include for-phone-only {
    padding: 1rem;
    justify-content: center;
    min-height: 300px;
  }

  @include for-tablet-portrait-only {
    padding: 1rem;
    justify-content: center;
    min-height: 300px;
  }

  @include for-tablet-portrait-up {
    padding: 1.5rem;
    min-height: 300px;
  }

  @include for-tablet-landscape-up {
    padding: 2.5rem;
    border-radius: 0;
  }

  @include for-desktop-up {
    padding: 3.5rem;
  }

  @include for-big-desktop-up {
    padding: 4rem;
  }

  h2 {
    @include for-phone-only {
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }

    @include for-tablet-portrait-up {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 1rem;
    }

    @include for-tablet-landscape-up {
      font-size: 2rem;
      line-height: 4rem;
    }

    @include for-desktop-up {
      font-size: 3rem;
    }

    @include for-big-desktop-up {
      font-size: 4rem;
    }
  }

  p {
    @include for-phone-only {
      line-height: 2rem;
      font-size: 0.5rem;
    }

    @include for-tablet-portrait-up {
      line-height: 3rem;
      font-size: 1rem;
    }

    @include for-tablet-landscape-up {
      font-size: 1.1rem;
    }

    @include for-desktop-up {
      font-size: 1.4rem;
    }

    @include for-big-desktop-up {
      font-size: 1.4rem;
    }
  }

  :active {
    text-decoration: none;
  }

  .featured-work-description {
    text-overflow: clip;

    @include for-phone-only {
      display: none;
    }

    @include for-tablet-portrait-only {
      display: none;
    }

    @include for-tablet-portrait-up {
      display: none;
    }

    @include for-tablet-landscape-up {
      display: block;
    }

    @include for-desktop-up {
    }

    @include for-big-desktop-up {
    }
  }

  .featured-work-role {
    @include for-phone-only {
      display: none;
    }

    @include for-tablet-portrait-up {
      display: none;
    }

    @include for-tablet-landscape-up {
      display: block;
    }

    @include for-desktop-up {
    }

    @include for-big-desktop-up {
    }
  }
}

.featured-work-image-container {
  flex: 2;
  position: relative;
  border-radius: 8px;
}
