.projects {
  margin-top: 4rem;
}

.resume-block {
  margin: 4rem 0;
  padding: 4rem;
  border-radius: 16px;
  border: 2px solid #000;
  background: #fff;

  @include for-phone-only {
    padding: 1rem;
    p {
      font-size: 12pt;
    }
  }
}

.resume-header {
  text-align: left;
}

.resume-technologies {
  display: flex;
  gap: 4rem;
  margin: 4rem 1rem 0 1rem;

  div {
    :hover {
      cursor: pointer;
    }
  }

  @include for-phone-only {
    margin: 1rem 1rem 1rem 1rem;
    gap: 2rem;
  }

  a {
    color: black;
  }
}

.resume-projects {
  margin: 4rem 0;
  border-radius: 16px;
  border: 2px solid #000;
  background: #fff;

  :first-child > .featured-work > .featured-work-content,
  :first-child > .featured-work {
    border-radius: 16px 16px 0 0;
  }

  :first-child
    > .featured-work
    > .featured-work-content
    > .featured-work-text-container {
    margin-top: 0;
    border-radius: 16px 0 0 0;
  }

  :first-child
    > .featured-work
    > .featured-work-content
    > .featured-work-image-container
    > img {
    margin-top: 0;
    border-radius: 0 16px 0 0;
  }

  :last-child > .featured-work > .featured-work-content,
  :last-child > .featured-work {
    border-radius: 0 0 16px 16px;
  }
}
