@charset "UTF-8";
/* Forms
/* ---------------------------------------------------------- */
/* Variables
/* ---------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,600,700,700i,800&display=swap");
/* Colours */
/* Fonts */
/* Breakpoints */
/* Sizes */
form {
  margin: 0 0 2rem 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  color: #3eb0ef;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0 0 2rem 0;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=search], input[type=url] {
  background: #f8f8f8;
  border-radius: 0.5rem;
  border: none;
  border: solid 1px #ddd;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.6em;
  text-decoration: none;
  width: 100%;
}

select,
textarea {
  background: #f8f8f8;
  border-radius: 0.5rem;
  border: none;
  border: solid 1px #ddd;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.6em;
  text-decoration: none;
  width: 100%;
}

input[type=text]:invalid, input[type=password]:invalid, input[type=email]:invalid, input[type=tel]:invalid, input[type=search]:invalid, input[type=url]:invalid {
  box-shadow: none;
}

select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=search]:focus, input[type=url]:focus {
  border-color: #3eb0ef;
  box-shadow: 0 0 0 1px #3eb0ef;
}

select:focus,
textarea:focus {
  border-color: #3eb0ef;
  box-shadow: 0 0 0 1px #3eb0ef;
}

select {
  height: 4rem;
  padding-right: 4rem;
  text-overflow: ellipsis;
}
select option {
  color: #3eb0ef;
  background: #f8f8f8;
}
select:focus::-ms-value {
  background-color: transparent;
}
select::-ms-expand {
  display: none;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=search], input[type=url] {
  height: 4rem;
}

select {
  height: 4rem;
}

textarea {
  padding: 0.3em 0.6em;
  resize: vertical;
}

input[type=checkbox], input[type=radio] {
  display: block;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}
input[type=checkbox] + label, input[type=radio] + label {
  display: flex;
  align-items: center;
  color: #131313;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  padding-left: calc((4rem * 0.6) + 0.75em);
  padding-right: 2rem;
  position: relative;
  user-select: none;
}
input[type=checkbox] + label:before, input[type=radio] + label:before {
  background: #f8f8f8;
  border-radius: 0.5rem;
  border: solid 1px #ddd;
  content: "";
  display: inline-block;
  height: calc(4rem * 0.6);
  line-height: calc(4rem * 0.56);
  text-align: center;
  width: calc(4rem * 0.6);
  margin-right: 1rem;
}
input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before {
  background: #3eb0ef;
  border-color: #3eb0ef;
  color: #f8f8f8;
  content: "✓";
}
input[type=checkbox]:focus + label:before, input[type=radio]:focus + label:before {
  border-color: #3eb0ef;
  box-shadow: 0 0 0 1px #3eb0ef;
}
input[type=checkbox] + label:before {
  border-radius: 0.5rem;
}
input[type=radio] + label:before {
  border-radius: 100%;
}

/*# sourceMappingURL=forms.css.map */
