@import "./variables";
@import "components/responsiveness";

.featured-work-tech {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.featured-work {
  display: flex;
  position: relative;
  overflow: hidden;
  counter-increment: posts;
}

.featured-work a:hover {
  text-decoration: none;
}

.featured-work-link {
  flex: 1 1 auto;
  text-decoration: none; 
}

.featured-work-link:hover {
  opacity: 1;
  text-decoration: none; 
  transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.featured-work-content {
  display: flex;
  flex-direction: row;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);

  @include for-phone-only {
    height: 60vw;
    width: 80%;
    margin: 2rem auto 2rem auto;
    border-radius: 8px;
    --webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  @include for-tablet-portrait-up {
    height: 60vw;
    width: 80%;
    margin: 2rem auto 2rem auto;
    border-radius: 8px;
    --webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  @include for-tablet-landscape-up {
    height: 40vw;
    width: 100%;
    margin: 0;
    border-radius: 0px;
    --webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.featured-work-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  @include for-phone-only {
    padding: 0.5rem;
    justify-content: center;
    order: 2;
    border-radius: 0px 8px 8px 0px;
  }

  @include for-tablet-portrait-up {
    padding: 1.5rem;
    order: 2;
    border-radius: 0px 8px 8px 0px;
  }

  @include for-tablet-landscape-up {
    padding: 2.5rem;
    order: 0;
    border-radius: 0;
  }

  @include for-desktop-up {
    padding: 3.5rem;
  }

  @include for-big-desktop-up {
    padding: 4rem;
  }

  h2 {
    @include for-phone-only {
      font-size: 1rem;
      line-height: 2rem;
      margin: 0;
    }

    @include for-tablet-portrait-up {
      font-size: 2rem;
      margin: 0;
    }

    @include for-tablet-landscape-up {
      font-size: 2.2rem;
    }

    @include for-desktop-up {
      font-size: 3rem;
    }

    @include for-big-desktop-up {
      font-size: 4rem;
    }
  }

  p {
    @include for-phone-only {
      line-height: 2;
      font-size: 0.5rem;
    }

    @include for-tablet-portrait-up {
      font-size: 1rem;
    }

    @include for-tablet-landscape-up {
      font-size: 1.1rem;
    }

    @include for-desktop-up {
      font-size: 1.4rem;
    }

    @include for-big-desktop-up {
      font-size: 1.4rem;
    }
  }

  :active {
    text-decoration: none;
  }

  .featured-work-description {
    text-overflow: clip;

    @include for-phone-only {
      display: none;
    }

    @include for-tablet-portrait-up {
      display: none;
    }

    @include for-tablet-landscape-up {
      display: block;
    }

    @include for-desktop-up {
    }

    @include for-big-desktop-up {
    }
  }

  .featured-work-role {
    @include for-phone-only {
      display: none;
    }

    @include for-tablet-portrait-up {
      display: none;
    }

    @include for-tablet-landscape-up {
      display: block;
    }

    @include for-desktop-up {
    }

    @include for-big-desktop-up {
    }
  }
}

.featured-work-image-container {
  flex: 2;
  position: relative;

  .featured-work-image {
    max-width: 100%;
    height: auto;
  }

  @include for-phone-only {
    order: 1;
    border-radius: 8px 0px 0px 8px;
    img {
      border-radius: 8px 0px 0px 8px;
    }
  }

  @include for-tablet-portrait-up {
    order: 1;
    border-radius: 8px 0px 0px 8px;
    img {
      border-radius: 8px 0px 0px 8px;
    }
  }

  @include for-tablet-landscape-up {
    order: 0;
    border-radius: 0;
    img {
      border-radius: 0;
    }
  }

  @include for-desktop-up {
    order: 0;
  }

  @include for-big-desktop-up {
    order: 0;
  }
}
