@import "../variables";
@import "../components/lists";
@import "../components/buttons";
@import "../components/actions";
@import "../components/hamburger";
@import "../components/grid";
@import "../components/animations";
@import "../components/responsiveness";

#banner {
  width: 100%;
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include for-tablet-portrait-up {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @include for-tablet-portrait-up {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

#banner-title-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include for-phone-only {
    margin: 4rem 0 4rem 0;
  }

  @include for-tablet-portrait-only {
    margin: 4rem 0 4rem 0;
  }

  @include for-tablet-portrait-up {
    margin: 0 4rem 0 0;
  }
}

#profile-image-container {
  border-radius: 16px;

  img {
    border: 2px solid black;
    border-radius: 16px;
  }
}

#sub-title {
  line-height: $lineheight-heading-1;
  u {
    text-decoration-style: wavy;
  }
}

.banner-title {
  margin-top: 0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  text-align: left;
  flex: 0 1 50%;
  @include for-big-desktop-up {
    font-size: $fontsize-display-2;
  }

  @include for-desktop-up {
    font-size: $fontsize-display-4;
  }

  @include for-tablet-landscape-up {
    font-size: $fontsize-heading-2;
  }

  @include for-tablet-landscape-only {
    font-size: $fontsize-heading-3;
    line-height: $lineheight-heading-3;
  }

  @include for-tablet-portrait-only {
    font-size: $fontsize-heading-4;
    line-height: $lineheight-heading-4;
  }
}

.banner-title-subheader {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin: 4vh;
  text-align: left;
  flex: 0 1 50%;
  @include for-big-desktop-up {
    font-size: $fontsize-display-3;
  }

  @include for-desktop-up {
    font-size: $fontsize-display-4;
  }

  @include for-tablet-landscape-up {
    font-size: $fontsize-heading-3;
    margin: 2vh;
  }

  @include for-tablet-landscape-only {
    font-size: $fontsize-heading-4;
    line-height: $lineheight-heading-4;
    margin: 2vh;
  }

  @include for-tablet-portrait-only {
    font-size: $fontsize-heading-4;
    line-height: $lineheight-heading-4;
  }
}

#banner-subtitle {
  margin: 0;
  padding: 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.featured {
  width: 100%;
  height: 100%;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8vw;
  max-width: 1600px;
}
