@import "../variables";
@import "../components/lists";
@import "../components/buttons";
@import "../components/actions";
@import "../components/hamburger";
@import "../components/grid";
@import "../components/animations";
@import "../components/responsiveness";

#banner {
  @include for-phone-only {
    flex-direction: column;
  }

  @include for-tablet-portrait-up {
    padding: 8vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

#banner-titles {
  flex: 1 0 60%;

  @include for-big-desktop-up {
    display: flex;
    flex-flow: column;
    margin: 4vh;
  }

  @include for-tablet-portrait-up {
    margin: 1vw;
    flex: 1 1 60%;
  }

  @include for-tablet-landscape-up {
    flex: 2 1 100%;
  }
}

#profile-container {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  flex: 1 0 40%;

  img {
    border: 2px solid black;
    border-radius: 16px;
  }

  @include for-phone-only {
    margin: 4rem;
    height: 50vh;
  }

  @include for-tablet-portrait-up {
    height: 35vh;
    flex: 1 1 40%;
    img {
      height: 35vh;
      max-width: 300px;
    }
  }

  @include for-tablet-landscape-up {
    flex:  auto;
  }

  @include for-desktop-up {
    margin: 0 4rem 0 0;
    height: 35vh;
  }

  @include for-big-desktop-up {
    margin: 0 4rem 0 0;
    height: 35vh;
  }
}

#sub-title {
  line-height: $lineheight-heading-1;
  u {
    text-decoration-style: wavy;
  }
}

.banner-title {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin: 5vh;
  text-align: left;
  flex: 0 1 50%;
  @include for-big-desktop-up {
    font-size: $fontsize-display-2;
  }

  @include for-desktop-up {
    font-size: $fontsize-display-4;
  }

  @include for-tablet-landscape-up {
    font-size: $fontsize-heading-2;
    margin: 2vh;
  }

  @include for-tablet-landscape-only {
    font-size: $fontsize-heading-3;
    line-height: $lineheight-heading-3;
    margin: 2vh;
  }

  @include for-tablet-portrait-only {
    font-size: $fontsize-heading-4;
    line-height: $lineheight-heading-4;
  }
}

.banner-subtitle  {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.banner-headers {
  display: flex;
  flex-direction: column;
}

.featured-works {
  width: 100%;
}
